@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jgg6uw');
  src:  url('fonts/icomoon.eot?jgg6uw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jgg6uw') format('truetype'),
    url('fonts/icomoon.woff?jgg6uw') format('woff'),
    url('fonts/icomoon.svg?jgg6uw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-embed2:before {
  content: "\ea80";
}
    
@font-face {
  font-family: "coalition";
  src: url("fonts/Cocogoose.ttf");
}

    * {
      margin: 0;
      padding: 0;
    }

    html{overflow:hidden;}
    /* hide the scroll bar */
    ::-webkit-scrollbar { 
      display: none; 
    }

    /* creation of a grid with 3 rows and a adaptativ height */
    #container {
      display: grid;
      height: 100vh;
      grid-template-rows: 1fr 1fr 1fr;
    }
     /*********************************************** */
    header {
      float: left;
      width: 100%;
      height: 10vh;
      background:#000;
    }

    .logo{
      float: left;
      color: #fff;
      font-size:50px;
      margin:15px 30px 0 20px;
    }

    header ul{display: inline-block;}
    
    header li{
      margin-top: 25px;
      display: inline-block;
    }
    
    header a{
      color: #fff;
      font:20px coalition;
      text-decoration:none;
      margin-left:30px;
    }

    header a:hover{
      text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px rgba(255,255,255,0.8),0 -4px 15px rgba(255,255,255,0.5);
    }
    /*********************************************** */
    main {
      scroll-behavior: smooth;/* add a smooth effect to the scroll */
      float: left;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      height: 85vh;
      overflow: scroll;
      overflow:hidden;
    }
     /*********************************************** */
    footer {
      background: url(img/binary_background.png) 50px;
      position: fixed;
      bottom: 0;
      width: 100vw;
      height: 5vh;
    }

    /* ******************home page******************** */
    #homepage {
      background:#000;
      width: 100vw;
      overflow: hidden;
    }

    .fullscreen{
      position: relative;
      width:100%;
      height:100vh;
      z-index: 0;
      background: mediumvioletred;
    }

    video{
      z-index: 1;
      min-height:100%;
      min-width:100%;
    }

    #homepage section{
      z-index: 20;
      position: relative;
      top:-70%;
      left: 50%;
      width: 600px;
      height: 100px;
    }

    #homepage h1{
      background: white;
      display: table;
      font: bold 50px arial,sans-serif;
      padding: 10px 15px;
      margin-bottom: 10px;
      z-index: 10;
    }
    
    #homepage h2{
      background: white;
      display: table;
      font: bold 30px arial,sans-serif;
      padding: 10px 15px;
      z-index: 10;
    }
    /* **************services************************ */
    #services {
      background:url(img/grey.gif);
      width: 100vw;
    }

    .servicesBlocs{
      display: grid;
      width: 80%;
      height: 60vh;
      margin: 50px auto 0 auto;
      grid-template-columns:1fr 1fr ;
      grid-template-rows: 1fr 1fr ;
      grid-template-areas:"service1 service2" "service3 service4";
      grid-gap: 10px;
    }

    .service1 { grid-area: service1; }
  
    .service2 { grid-area: service2; }
  
    .service3 { grid-area: service3; }
  
    .service4 { grid-area: service4; }
    
    .servicesBlocs article{

      display: block;
      margin: 0 auto 0 auto;

    }

    .servicesBlocs img{
      width: 50%;
      height: 90%;}


    /* ****************map********************** */
    #map {
      background: mediumvioletred;
      width: 100vw;
    }
    /* ******************contact form******************** */
    #contactForm {
      background:url(img/globe.png) 100% 100% no-repeat,url(img/formBg.png);
      width: 100vw;
      
      }

  .formblock{
      display: grid;
      width: 100%;
      height: 80%;
      margin: 80px auto 0 50px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "name lastname ." "email email ." "sexe  cnx ." "selectlist selectlist ." "textarea textarea ." "submitBt . . ";
  }

  .cnx div,.sexe div{margin-bottom: 10px;}

  .name { grid-area: name; }
  
  .lastname { grid-area: lastname; }
  
  .email { grid-area: email; }
  
  .sexe { grid-area: sexe; }
  
  .cnx { grid-area: cnx; }
  
  .selectlist { grid-area: selectlist; }
  
  .textarea { grid-area: textarea; }
  
  .submitBt{ grid-area: submitBt;}
  
input[name=email],textarea,select,input[type=chekbox],input[type=radio]{
  float: left;
  width: 100%;
  border: none !important;
  border-bottom: 2px solid rgb(6, 216, 198) !important;
  background-color:rgba(241, 66, 66,0);
  font-size:24px;
  color: #fff;
  resize: none;
}

input[name=name],input[name=lastName]{
  float: left;
  width: 80%;
  border: none !important;
  border-bottom: 2px solid rgb(6, 216, 198) !important;
  background-color:rgba(241, 66, 66,0);
  font-size:24px;
  color: #fff;
  resize: none;
}

input:focus,select:focus,textarea:focus{
  background-color:rgba(241, 66, 66,0) !important;
   outline: none;
}

option{background-color:rgba(133, 133, 133, 1) !important; }

input[type="checkbox"],input[type="radio"] {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  vertical-align: bottom;
}

label.checkbox,label.radio {
  vertical-align: top;
  line-height: 24px;
  margin: 2px 0;
  display: block;
  height: 24px;
}

input[type=submit]{
  padding: 10px 50px 10px 50px;
  border: none;
  background: rgb(6, 216, 198);
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
}

label{color: #fff;
  font:25px arial,sans-serif;
}

/* ******************************************************* */
/* ******************Media query************************** */
/* ******************************************************* */
    @media screen and (max-width: 1010px) {
      #homepage section{
        z-index: 20;
        position: relative;
        top:-70%;
        left: 25%;
        width: 400px;
        height: 100px;
      }

        #homepage h1{
          font: bold 30px arial,sans-serif;
          padding: 10px 15px;
          margin-bottom: 10px;
        }

        #homepage h2{
          font: bold 20px arial,sans-serif;
          padding: 10px 10px;
          margin-bottom: 10px;
        }

        header a{
          font:15px coalition;
          margin-left:10px;
        }

        header li{
          margin-top: 25px;
          display: inline-block;
        }

        .logo{
          font-size:40px;
          margin:15px 30px 0 20px;
        }
    
    }

